<div class="container obser">
    <h3>Listado de prospectos</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="primer">
          <th mat-header-cell *matHeaderCellDef> Primer apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.primer_apellido}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="segundo">
          <th mat-header-cell *matHeaderCellDef> Segundo apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.segundo_apellido}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="estatus">
          <th mat-header-cell *matHeaderCellDef> Estatus </th>
          <td mat-cell *matCellDef="let element">{{element.status}}
            <div *ngIf="element.status == 1">Enviado</div>
            <div *ngIf="element.status == 2">Aceptado</div>
            <div *ngIf="element.status == 3">Rechazado</div>
          </td>
        </ng-container>

         <!-- Symbol Column -->
         <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> <button mat-button (click)="abrir()"> <mat-icon>add_circle</mat-icon></button> </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-raised-button (click)="abrit(element.id)"> <mat-icon>format_list_bulleted</mat-icon></button> </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
